<p id="notice"><%= notice %></p>

<h1><%=t :tar_list %></h1>

<table>
  <thead>
    <tr>
      <th><%=t :carrier %></th>
      <th><%=t :ee %></th>
      <th><%=t :postcode %></th>
      <th><%=t :gewicht %></th>
      <th><%=t :prijs %></th>
      <th><%=t :payant %></th>
      <th><%=t :exp_date %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.carrier %></td>
        <td><%= rate.country %></td>
        <td><%= rate.postcode %></td>
        <td><%= rate.gewicht %></td>
        <td><%= rate.prijs %></td>
        <td><%= rate.payant %></td>
        <td><%= rate.exp_date %></td>
        <td><%= link_to 'Manifester', rate %></td>
        <td><%= link_to 'Modifier', edit_rate_path(rate) %></td>
        <td><%= link_to 'Détruire', rate, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau taux', new_rate_path %>
