<p id="notice"><%= notice %></p>

<p>
  <strong>Carrier:</strong>
  <%= @rate.carrier %>
</p>

<p>
  <strong>Country:</strong>
  <%= @rate.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @rate.postcode %>
</p>

<p>
  <strong>Gewicht:</strong>
  <%= @rate.gewicht %>
</p>

<p>
  <strong>Prijs:</strong>
  <%= @rate.prijs %>
</p>

<p>
  <strong>Payant:</strong>
  <%= @rate.payant %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
